/.idea/

/knowledge-representation/abgaben/abgabe3u4/.venv
/knowledge-representation/abgaben/abgabe3u4/.ipynb_checkpoints
/statistik/.livelatex-cache/
/preamble/.livelatex-cache/
/seq-an-2/aufgaben/abgabe3/reference.fasta
/seq-an-2/aufgaben/abgabe3/reads.fa
