/.idea/

/seq-an-2/aufgaben/abgabe3/*
/knowledge-representation/abgaben/abgabe3/.venv
/knowledge-representation/abgaben/abgabe3/.ipynb_checkpoints
/statistik/.livelatex-cache/
/preamble/.livelatex-cache/
