/.idea/

./seq-an-2/aufgaben/abgabe1/**
/seq-an-2/aufgaben/abgabe1/d_q_gram.py
/seq-an-2/aufgaben/abgabe1/d_edit.py
/seq-an-2/aufgaben/abgabe1/d_maximal_matches.py
/seq-an-2/aufgaben/abgabe1/ecoli_phages.fna
/seq-an-2/aufgaben/abgabe1/ecoli_phages_subset.fna
/seq-an-2/aufgaben/abgabe1/ex01.md
/seq-an-2/aufgaben/abgabe1/fasta.py
/seq-an-2/aufgaben/abgabe1/Figure_1.png
/seq-an-2/aufgaben/abgabe1/main_performance_filter.py
/seq-an-2/aufgaben/abgabe1/main_search_edit.py
/seq-an-2/aufgaben/abgabe1/README.md
/seq-an-2/aufgaben/abgabe1/suffix_tree.py
/seq-an-2/aufgaben/abgabe1/test_d_maximal_matches.py
/seq-an-2/aufgaben/abgabe1/test_d_q_gram.py
/seq-an-2/aufgaben/abgabe1/unknown_phage.fna
